<script lang="ts">
    import { gql } from "@apollo/client/core";
    import {goto, } from "@roxi/routify"

    import type { IOng } from "../../../models/ong";
    import { client, query } from "../../../services/GraphqlService";
    import { Auth } from "../../../services/Auth";
    
    export let id: String;
    let errorMessage: String;

    let editedOng: IOng = {
        name: "",
        cattegories: [""],
        introduction: "",
        contact: "",
        creationDate: "",
        curiosities: "",
        howCanYouHelp: "",
        images: [""],
        localization: "",
        site: ""
    }

    let ongQuery = query(
        gql`
        query getOngQuery($_id: String!) {
            getOng(_id: $_id) {
            _id
            name
            cattegories
            introduction
            curiosities
            site
            creationDate
            images
            localization
            howCanYouHelp
            contact
            }
        }
        `,
        {
        _id: id,
        },
    );

    $: (() =>  {
        let data = ($ongQuery.data as any)?.getOng as IOng
        if (data) {
            editedOng = {
                name: data.name,
                cattegories: data.cattegories,
                introduction: data.introduction,
                contact: data.contact,
                creationDate: data.creationDate,
                curiosities: data.curiosities,
                howCanYouHelp: data.howCanYouHelp,
                images: data.images,
                localization: data.localization,
                site: data.site
            }
        }
    })();

    async function save() {
        try {
            console.log(`Started`)
            let res = await client.mutate({
                mutation: gql`mutation getOngsQuery($input: CreateOngArgs!, $_id: String!, $at: String!) {
                    updateOng(accessToken: $at, updatedOng: $input, _id:$_id){
                        _id
                    }
                }`, 
                variables: {
                    "input": {...editedOng},
                    "_id": id,
                    "at": Auth.accessToken || "NOT>A>ACCESS>TOKEN"
                }
            })
            console.log(`Done`)
            if (res.data.updateOng)
            {
                console.log(`No Errors`)
                $goto(`/ong/${id}`);
                return
            }
            else {
                errorMessage = res.errors.toString()
                console.log(`Error 2`)
                $goto(`/ong/${id}/edit/#err`);
            } 
        }
        catch (err) {
            console.log(`Graphql Error`)
            errorMessage = err.toString()
            $goto(`/ong/${id}/edit/#err`);
        }
        
    }
</script>

{#if errorMessage}

    <div class="alert alert-danger" id="err" role="alert">
        Error Updating organization: {errorMessage}
    </div>

{/if}

{#if $ongQuery.loading}
    <h3>Loading...</h3>
{:else if $ongQuery.error}
    <h3>Error:</h3>
    <h4>{$ongQuery.error.message}</h4>
{:else}
    <br>
    <div class="card">
        <div class="card-body">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Name</label>
                <input type="text" class="form-control" on:change={ e => editedOng.name = e.target.value } value="{editedOng.name}" placeholder="Very cool name">
            </div>

            <div class="mb-3">
                <p class="form-label">introduction</p>
                <textarea class="form-control" on:change={ e =>editedOng.introduction = e.target.value } placeholder="Short Introduction to the organization" rows="3">{editedOng.introduction} </textarea>
            </div>
        
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">cattegories</label>
                <input type="text" class="form-control" on:change={ e => editedOng.cattegories = e.target.value.replace(/\s*/g, "").split(",") } value="{editedOng.cattegories}" placeholder="Software,Health,Economics">
            </div>

            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">curiosities</label>
                <input type="text" class="form-control" on:change={ e => editedOng.curiosities = e.target.value } value="{editedOng.curiosities}" placeholder="They do that">
            </div>

            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">site</label>
                <input type="text" class="form-control" on:change={ e => editedOng.site = e.target.value } value="{editedOng.site}" placeholder="https://site.com">
            </div>

            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">creation date</label>
                <input type="text" class="form-control" on:change={ e => editedOng.creationDate = e.target.value } value="{editedOng.creationDate}" placeholder="2010 or 24/12/2006">
            </div>

            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">images</label>
                <textarea class="form-control" on:change={ e =>editedOng.images = e.target.value.replace(/\s*/g, "").split(",") } placeholder="https://url_to_image,https://url_to_image2,https://url_to_image3,https://url_to_image4" rows="3">{editedOng.images} </textarea>
            </div>

            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">localization</label>
                <input type="text" class="form-control" on:change={ e => editedOng.localization = e.target.value } value="{editedOng.localization}" placeholder="Londres, UK">
            </div>

            <div class="mb-3">
                <p class="form-label">how can they help?</p>
                <textarea class="form-control" on:change={ e =>editedOng.howCanYouHelp = e.target.value } placeholder="You can donate money" rows="3">{editedOng.howCanYouHelp} </textarea>
            </div>

            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">contact</label>
                <input type="text" class="form-control" on:change={ e => editedOng.contact = e.target.value } value="{editedOng.contact}" placeholder="mycoolorg@email.co">
            </div>

            <button type="button" class="btn btn-primary" on:click={() => save()} >Save</button>
        </div>
    </div>
{/if}