<script>
    import { metatags } from '@roxi/routify'
    import AuthView from "../components/AuthView.svelte"
    import OngList from "../components/OngList.svelte"

    metatags.description = 'The Best way to search for organizations you care about'

</script>

<AuthView>
    <h3 slot="authorizing">Authenticating...</h3>
    <h3 slot="authorized" let:user={user} >Welcome {user.name}</h3>    
    <h3 slot="notAuthorized">You are not logged in</h3>
</AuthView>

<OngList />
