<script>
    import { params, goto } from "@roxi/routify";
    import gql from "graphql-tag";
    import { query } from "../services/GraphqlService"
    let searchQuery  = decodeURIComponent($params.q)

    let results = query(gql`
        query searchQuery($query: String!){
            search(text: $query) 
            { _id name cattegories introduction curiosities site creationDate localization }
        }
    `, {
        query: searchQuery
    })

    let searchInputText;
    function search(text) {
        searchQuery = text;
        $goto(`/search?q=${encodeURIComponent(text)}`)

        results = query(gql`
            query searchQuery($query: String!){
                search(text: $query) 
                { _id name cattegories introduction curiosities site creationDate localization }
            }
        `, {
            query: searchQuery
        })

        console.log(searchQuery)
    }

</script>

<h4>Search</h4>
<div class="input-group">
    <input type="text" value={searchQuery} class="form-control" on:change={() => search(searchInputText.value)} bind:this={searchInputText} placeholder="Name, Category, Cool Stuff" />
    <button type="button" class="btn btn-outline-primary"  on:click={() => search(searchInputText.value)}>Search</button>
</div>
{#if $results.loading}
    <p>Searching Results...</p>
{:else if $results.errors}
    <p>Errors happend when searching, try again with another search</p>
{:else} 
    <div class="list-group">
        {#each $results.data.search as ong}
            <div class="list-group-item list-group-item-action" on:click={() => $goto(`/ong/${ong._id}`)}>
                <div class="row">
                    <div class="col">
                        <h3>Primary Info</h3>
                        <h4>{ong.name}</h4>
                        <p class="text-truncate">{ong.introduction}</p>
                    </div>
                    <div class="col">
                        <h3>Secondary Info</h3>
                        <table class="table">
                            <tbody>
                                {#if ong.site}
                                    <tr>
                                        <td>Site</td>
                                        <td><a href="{ong.site}" target="_blank">{ong.site}</a></td>
                                    </tr>
                                {/if}
                                
            
                                {#if ong.localization}
                                    <tr>
                                        <td>Location</td>
                                        <td>{ong.localization}</td>
                                    </tr>
                                {/if}
                
                                {#if ong.contact}
                                    <tr>
                                        <td>Contact</td>
                                        <td>{ong.contact}</td>
                                    </tr>
                                {/if}
            
                                {#if ong.creationDate}
                                    <tr>
                                        <td>created at</td>
                                        <td>{ong.creationDate}</td>
                                    </tr>
                                {/if}
                            </tbody>
                          </table>
                    </div>
                  </div>
                
            </div>
        {/each}
    </div>
{/if}