<script>
    import {onMount} from "svelte"
    import {Auth, AuthState} from "../services/Auth"
    import {writable} from "svelte/store"

    onMount(async () => {
        await Auth.authenticate();
        Auth.authenticated();
    })
</script>

{#if $AuthState == undefined}
    <slot  name="authorizing"/>
{:else if $AuthState == true}
    <slot  name="authorized" user={Auth.user} />
{:else if $AuthState == false}
    <slot  name="notAuthorized" />
{/if}