<script>
    import gql from "graphql-tag";
    import { query } from "../services/GraphqlService";
    import { Auth } from "../services/Auth"
    import AuthView from "../components/AuthView.svelte"

    let ongsQuery = query(gql` query getOngsQuery($start: Int!, $limit: Int!) {
            getOngs(start: $start, limit: $limit) { _id name introduction creationDate cattegories  }
        }`,
        {
        start: 0,
        limit: 100
    })


    
</script>

{#if $ongsQuery.loading}
    <p>Loading...</p>
{:else if $ongsQuery.error}
    Error: {$ongsQuery.error.message}
{:else}
<div class="row gy-4">
    {#each $ongsQuery.data.getOngs as ong}
        <div class="col-md-4">
            <div class="card box-shadow">
                <div class="card-body">
                    <p>
                        {#each ong.cattegories as cat}
                            <span class="badge bg-success ms-1">{cat}</span>
                        {/each}
                    </p>
                    <h4 class="card-text">{ong.name}</h4>
                    <p class="card-text text-truncate">{ong.introduction}</p>
                        

                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex flex-row ">
                        <a type="button" href="/ong/{ong._id}" class="btn btn-sm btn-outline-secondary">View</a>
                        <AuthView>
                            <div slot="authorizing"></div>
                            <div slot="NotAuthorized"></div>
                            <div slot="authorized" let:user={user}>
                                {#if user.authorization == 2}
                                <a type="button" href="/ong/{ong._id}/edit" class="btn btn-sm btn-outline-secondary">Edit</a>
 
                                {/if}
                            </div>
                    </AuthView>
                    </div>
                    <small class="text-muted">Created in {ong.creationDate}</small>
                </div>
                </div>
            </div>
        </div>
    {/each}
</div>
{/if}