{#if !$isActive('/search')}    
    <div class="input-group">
        <input type="text" bind:this={textInput} class="form-control" placeholder=' "Exact match" -exclude_me hello ' />
        <button type="button" class="btn btn-outline-primary" on:click={() => search()} >Search</button>
    </div>
{/if}


<script>
    import { goto, isActive } from "@roxi/routify";
    let textInput;

    function search() {
        // window.location = `${window.origin}/search?q=${encodeURIComponent(textInput.value)}`;
        $goto(`/search?q=${encodeURIComponent(textInput.value)}`, {}, false)
    }
</script>